# Connexion à ta base MongoDB (Atlas ou locale)
MONGODB_URI="mongodb+srv://randriantsoa54_db_user:MreDKClItUMZNN4R@portfolio.u6spipg.mongodb.net/?appName=portfolio"

# Identifiants de connexion admin (page /admin)
ADMIN_EMAIL="dodisoa.nandrianina@gmail.com"
# Génère ce hash avec : node -e "console.log(require('bcryptjs').hashSync('fiandrianana', 10))"
ADMIN_PASSWORD_HASH="$2a$10$fyr3HUiv/zaSf/X3nXyjuu3ESBvDdXzVQpHV1TTvHibycXuTIVH.u"

# Requis par NextAuth v5 - génère avec : npx auth secret
AUTH_SECRET="d82efebc232f054dfe643df8f24c5b91e7367fa43980c1b32323dc2a87e5b922"
